# Pandas Objects: Series, DataFrame, Index

In [1]:
import pandas as pd

In [6]:
pd.__version__

'0.23.4'

## Series

Series is an extended version of a NumPy array that contains a sequence on values with an explicitly defined index. Index can be numberic or can consist of alphanumeric labels while index values don't have to be sequential.

### Creating a Series from array

In [7]:
values = [0.25, 0.5, 0.75, 1.0]

In [15]:
index = ['a', 'b', 'c', 'd']

In [16]:
data = pd.Series(values, index=index)
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [19]:
data[1:3]

b    0.50
c    0.75
dtype: float64

In [20]:
data['a']

0.25

### Creating a Series from a dictionary

In [22]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [23]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [24]:
# Access by index
population['California']

38332521

In [25]:
# Slicing by index
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

## DataFrame

If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by “aligned” we mean that they share the same index.

### Construct DataFrame from two Series objects that share the same index

In [28]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}

In [30]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [33]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [34]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [35]:
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]])

We can also think of a DataFrame as a specialization of a dictionary. Where
a dictionary maps a key to a value, a DataFrame maps a column name to a Series of
column data:

In [36]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### DataFrame can be constructed out of a list of dictionaries

In [38]:
# Note that missed keys will be filled with NaN values automatically
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### DataFrame can be constructed from a two-dimensional NumPy array

In [40]:
import numpy as np
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.214666  0.450847
b  0.454419  0.923603
c  0.310499  0.914560

## Pandas Index object

Index can be thought of either as an immutable array or as an ordered set (technically a multiset, as Index objects may contain repeated values).

In [42]:
# Constructing an Index out of an array
ind = pd.Index([1,3,5,7,11])
ind

Int64Index([1, 3, 5, 7, 11], dtype='int64')

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic. The Index object follows many of the conventions used by Python’s built-in set data structure, so that unions, intersec‐
tions, differences, and other combinations can be computed in a familiar way:

In [45]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [46]:
# Index intersection
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [47]:
# Union
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [50]:
# XOR (symmetric difference)
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')